<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 20px;
        }

        /* Flex container for graph and connect section */
        .flex-container {
            display: flex;
            justify-content: space-between; /* Place items with space between */
            align-items: flex-start; /* Align items at the top */
            gap: 10px; /* Space between items */
            /*padding: 20px;*/
        }

        #network-graph-section {
            width: 50%;       /* Half of the container */
            height: 50vh;     /* Adjust height */
        }

        #network {
            width: 100%;       /* Half of the container */
            height: 100%;     /* Adjust height */
            border: 1px solid #ccc; /* Optional border for clarity */
        }

        .connect-section {
            width: 45%;       /* Slightly less width */
        }
        .connect-section h2 {
            padding-top: 0;
            margin-top: 0;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid #ddd;
            text-align: left;
        }

        th, td {
            padding: 8px;
        }
    </style>

    <script src="https://cdn.anychart.com/releases/8.12.1/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.12.1/js/anychart-graph.min.js"></script>
</head>
<body>
<h1>Social Analyser</h1>
<div th:if="${currentUser != null}">
    <p>Hello, <span th:text="${currentUser.username}"></span>! 🕵🏻</p>
    <a th:href="@{/auth/logout}">Logout</a>
    <br/>
    <br/>
    <div>
        <!-- Toggle Button or Choice Box -->
        <label for="view-select">Choose View:</label>
        <select id="view-select" onchange="toggleView()">
            <option value="graph">Network graph (connected components)</option>
            <option value="allUsers">Find all users</option>
            <option value="specific">Find users having relation with me</option>
            <option value="no">Find users with no relation</option>
            <option value="description" th:selected="${param.view != null and param.view[0] =='description'}">Find users having keyword in description</option>
            <option value="count" th:selected="${param.view != null and param.view[0] =='count'}">Find users having >= N relation</option>
            <option value="multiple">Find users with multiple relation</option>
        </select>
    </div>

    <div class="flex-container">
        <!-- Graph Section -->
        <div id="network-graph-section" >
            <div id="network"></div>
        </div>
        <!-- Optional User Displayer -->
        <div id="all-users" style="display: none;">
            <h2>All users</h2>
            <table>
                <tr>
                    <th th:text="username"></th>
                    <th th:text="description"></th>
                </tr>
                <tr th:each="user: ${users}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.description}"></td>
                </tr>
            </table>
        </div>
        <div id="user-with-specific-relation" style="display: none;">
            <h2>Users with relation to me</h2>
            <table>
                <tr>
                    <th th:text="username"></th>
                    <th th:text="description"></th>
                </tr>
                <tr th:each="user: ${usersWithRelationToSpecificUser}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.description}"></td>
                </tr>
            </table>
        </div>
        <div id="user-with-no-relation" style="display: none;">
            <h2>Users with no relation</h2>
            <table>
                <tr>
                    <th th:text="username"></th>
                    <th th:text="description"></th>
                </tr>
                <tr th:each="user: ${usersWithNoRelations}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.description}"></td>
                </tr>
            </table>
        </div>
        <div id="user-with-multiple-relation" style="display: none;">
            <h2>Users with multiple relation</h2>
            <table>
                <tr>
                    <th th:text="username"></th>
                    <th th:text="description"></th>
                </tr>
                <tr th:each="user: ${usersWithMultipleRelation}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.description}"></td>
                </tr>
            </table>
        </div>
        <div id="user-from-description" style="display: none;">
            <!-- Search Form -->
            <form th:action="@{/description}" method="post">
                <h2>Search User by Description</h2>
                <label for="keyword">Search by Description:</label>
                <input type="text" id="keyword" name="keyword" placeholder="Enter a keyword" required>
                <button type="submit">Search</button>
            </form>

            <!-- Results Display -->
            <div >
                <h3>Search Results:</h3>
                <table>
                    <thead>
                    <tr>
                        <th th:text="username"></th>
                        <th th:text="description"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${userFromReq}">
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.description}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="user-from-N-relation" style="display: none;">
            <!-- Search Form -->
            <form th:action="@{/count}" method="post">
                <h2>Search User That have N relation</h2>
                <label for="relationCount">Enter the Relation Count:</label>
                <input type="number" id="relationCount" name="relationCount" placeholder="Enter a number" required min="1">
                <button type="submit">Search</button>
            </form>

            <!-- Results Display -->
            <div >
                <h3>Search Results:</h3>
                <table>
                    <thead>
                    <tr>
                        <th th:text="username"></th>
                        <th th:text="description"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${userFromReq}">
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.description}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <!-- Connect Section -->
        <div class="connect-section">
            <h2>These users are not in your network. Connect them?</h2>
            <form th:action="@{/connect}" method="post">
                <table>
                    <tr>
                        <th>Username</th>
                        <th>Relation Type</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each="user : ${usersNotConnectedToCurrentUser}">
                        <!-- Username -->
                        <td th:text="${user.username}"></td>

                        <!-- Relation Type Dropdown -->
                        <td>
                            <label>
                                <select name="relationType">
                                    <option th:each="type : ${relationTypes}"
                                            th:value="${type}"
                                            th:text="${type}">Type</option>
                                </select>
                            </label>
                        </td>

                        <!-- Connect Button -->
                        <td>
                            <button type="submit" name="username" th:value="${user.username}">
                                Connect
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<div th:if="${currentUser == null}">
    <p>Please register or login to see all other users !</p>
    <a th:href="@{/auth/login}">Login</a>
</div>

<!-- AnyChart Graph Rendering Script -->
<script th:inline="javascript">
    /*<![CDATA[*/
    anychart.onDocumentReady(function () {
        const nodesData = [];
        const edgesData = [];

        // Add users as nodes
        const users = /*[[${users}]]*/ [];
        users.forEach(user => {
            nodesData.push({ id: user.username, name: user.username });
        });

        // Add relations as edges
        const relations = /*[[${relations}]]*/ [];
        relations.forEach(relation => {
            edgesData.push({
                from: relation.usernameInit,
                to: relation.usernameRecv,
                label: relation.relationType.toString().toLowerCase(),
                key: `${relation.usernameInit}-${relation.usernameRecv}-${relation.label}`,
            });
        });

        // Render the graph
        const graphData = { nodes: nodesData, edges: edgesData };
        const chart = anychart.graph(graphData);

        // enable node labels:
        const nodes = chart.nodes();
        nodes.labels().enabled(true);

        // customize node tooltips:
        nodes.tooltip().useHtml(true);
        nodes.tooltip().format(function(e){
            const name = e.getData("name");
            return `<b>${name}</b>`
        });

        // customize edge tooltips:
        var edges = chart.edges();
        var labels = chart.edges().labels();
        labels.enabled(true);
        labels.format('{%label}');
        // labels.fontSize(7);

        edges.tooltip().useHtml(true);
        edges.tooltip().format(function(e){
            const label = e.getData("label");
            return `<b>${label}</b>`
        })

        // customize the edge stroke:
        edges.stroke("lightblue", 2, "10 5")
        // set the chart title:
        chart.title("Connection Network (incl. Connected Components)");
        // set the container id:
        chart.container("network");
        // initiate drawing the chart:
        chart.draw();
    });
    /*]]>*/
</script>
<!-- Toggle Script -->
<script>
    function toggleView() {
        const selectedView = document.getElementById('view-select').value;
        const graphSection = document.getElementById('network-graph-section');
        const allUsers = document.getElementById('all-users');
        const usersWithRelationSpecific = document.getElementById('user-with-specific-relation');
        const userFromDescription = document.getElementById('user-from-description');
        const userWithNoRelation = document.getElementById('user-with-no-relation');
        const userFromNRelation = document.getElementById('user-from-N-relation');
        const userWithMultipleRelation = document.getElementById('user-with-multiple-relation');

        graphSection.style.display = 'none';
        allUsers.style.display = 'none';
        usersWithRelationSpecific.style.display = 'none';
        userFromDescription.style.display = 'none';
        userWithNoRelation.style.display = 'none';
        userFromNRelation.style.display = 'none';
        userWithMultipleRelation.style.display = 'none';

        // Use switch case to handle the selected view
        switch (selectedView) {
            case 'graph':
                graphSection.style.display = 'block';
                break;

            case 'allUsers':
                allUsers.style.display = 'block';
                break;

            case 'specific':
                usersWithRelationSpecific.style.display = 'block';
                break;

            case 'description':
                userFromDescription.style.display = 'block';
                break;

            case 'no':
                userWithNoRelation.style.display = 'block';
                break;

            case 'count':
                userFromNRelation.style.display = 'block';
                break;
            case 'multiple':
                userWithMultipleRelation.style.display = 'block';
                break;
            }


    }
    window.onload = function () {
        toggleView(); // Call toggleView to update visibility based on the selected dropdown value
    };
</script>

</body>
</html>
