<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login or Create Account</title>
</head>
<body>
<!-- Display error message if it exists -->
<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>
<h2>Login</h2>
<form th:action="@{/auth/login}" method="post">
    <label>username:</label>
    <input type="text" name="username" required><br>

    <label>password:</label>
    <input type="password" name="password" required><br>

    <button type="submit">login</button>
</form>
<a href="#">Forgot your password?</a>

<h2>Create Account</h2>
<form th:action="@{/auth/signup}" method="post">
    <label>username:</label>
    <input type="text" name="username" required><br>

    <label>password:</label>
    <input type="password" name="password" required><br>

    <button type="submit">create account</button>
</form>
</body>
</html>
